# Ignora ambientes virtuais
.venv/

# Ignora caches do Python
__pycache__/
*.py[cod]

# Ignora dados de testes e caches de pytest
.pytest_cache/

# Ignora arquivos sensíveis
# ignore every file that starts with .env
.env*


# Ignora Git
.git/
.gitignore

# Ignora arquivos temporários de editor/IDE
*.log
*.swp
*.swo
*.bak
.DS_Store
**/.vs
.vscode/
*.idea/

# Ignora arquivos de mídia ou build não utilizados
*.png
*.jpg
*.jpeg
*.pdf
*.zip

**/.classpath
**/.dockerignore
**/.project
**/.settings
**/.toolstarget
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
