# Ambientes virtuais
.venv/
venv/
ENV/
env/
*.py[cod]
__pycache__/

# Arquivos de log
*.log

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Configurações específicas de sistemas operacionais
.DS_Store
Thumbs.db

# Arquivos de build/distribuição
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usado para converter scripts em executáveis
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pipenv
Pipfile.lock

# poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pydantic settings cache
.pydantic/

# Arquivos de debug
*.swp
*.swo

#pytest
.pytest_cache/

# #envioriment variables
# .env
# .envrc
# # dotenv files
# .env
# .env.*
